*{
font-family:cursive;
color: black;
text-align: center;
}

#cabecera{
    color:white;
    background-color: blue;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    border: black 1px solid;
    padding: 1%;
    text-align: left;
}

#container{
    border: black 1px solid;
}
